<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="sectionA">

    <div class="card">

      <ion-label>
        <b>Saldo Total</b>
        <p>R$ 100.000,00</p>
      </ion-label>

      <div class="divisor"></div>

      <div class="actions">

        <ion-buttons>

          <div class="item">
            <ion-button style="background: #1dcc70;">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </ion-button>
            <ion-text>Receita</ion-text>
          </div>

          <div class="item">
            <ion-button style="background: #ff396f;">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-button>
            <ion-text>Despesa</ion-text>
          </div>

          <div class="item">
            <ion-button style="background: #ffb400;">
              <ion-icon name="swap-vertical-outline"></ion-icon>
            </ion-button>
            <ion-text>Transferência</ion-text>
          </div>

        </ion-buttons>

      </div>

    </div>

  </div>

  <div id="sectionB">

    <div class="box">
      <ion-label>Total de Receitas
        <p style="color: #1dcc70;">R$ 100.000,00</p>
      </ion-label>
    </div>

    <div class="box">
      <ion-label>Total de Despesas
        <p style="color: #ff396f;">R$ 100.000,00</p>
      </ion-label>
    </div>

  </div>

  <div class="header">
    <ion-text>Cartões</ion-text>
    <ion-label>Ver Mais</ion-label>
  </div>

  <div id="sectionC">

    <swiper-container>
      <swiper-slide>Slide 1</swiper-slide>
      <swiper-slide>Slide 2</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
    </swiper-container>

  </div>

</ion-content>