<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="sectionA">

    <div class="card">

      <ion-label>
        <b>Saldo Total</b>
        <p>R$ 100.000,00</p>
      </ion-label>

      <div class="divisor"></div>

      <div class="actions">

        <ion-buttons>

          <div class="item">
            <ion-button style="background: #1dcc70;">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </ion-button>
            <ion-text>Receita</ion-text>
          </div>

          <div class="item">
            <ion-button style="background: #ff396f;">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-button>
            <ion-text>Despesa</ion-text>
          </div>

          <div class="item">
            <ion-button style="background: #ffb400;">
              <ion-icon name="swap-vertical-outline"></ion-icon>
            </ion-button>
            <ion-text>Transferência</ion-text>
          </div>

        </ion-buttons>

      </div>

    </div>

  </div>

  <div id="sectionB">

    <div class="box">
      <ion-label>Total de Receitas
        <p style="color: #1dcc70;">R$ 100.000,00</p>
      </ion-label>
    </div>

    <div class="box">
      <ion-label>Total de Despesas
        <p style="color: #ff396f;">R$ 100.000,00</p>
      </ion-label>
    </div>

  </div>

  <!-- <div class="header">
    <ion-text>Cartões</ion-text>
    <ion-label>Ver Mais</ion-label>
  </div>

  <div id="sectionC">

    <swiper-container 
      slides-per-view="1.1" 
      speed="100" 
      loop="false"
      css-mode="false" 
      navigation="false" 
      pagination="false"
      scrollbar="false">
      <swiper-slide *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]" lazy="false">

          <div class="linhaA">
            <ion-icon name="hardware-chip-outline"></ion-icon>
            <ion-label>
              Vencimento da Fatura
              <p>10/09/2023</p>
            </ion-label>
          </div>

          <div class="linhaB">
            <ion-label>R$ 1.206.124,25</ion-label>
          </div>

          <div class="linhaC">
            <ion-label>
              Titular do Cartão
              <p>JOSE QUINTINNO</p>
            </ion-label>
            <ion-label>
              Data de Validade
              <p>01/09/2026</p>
            </ion-label>
            <ion-label>
              Número do Cartão
              <p>5241 5254 5742 9865</p>
            </ion-label>
          </div>

      </swiper-slide>
    </swiper-container>

  </div>

  <div class="header">
    <ion-text>Transações</ion-text>
    <ion-label>Ver Mais</ion-label>
  </div>

  <div id="sectionD">

    <div *ngFor="let item of [1,2,3]" class="card">

      <div class="icone">
        <ion-icon name="logo-apple"></ion-icon>
      </div>

      <div class="descricao">
        <ion-label>
          <b>Apple</b>
          <p>iPhone 14 Pro Max</p>
        </ion-label>
      </div>

      <div class="valor">
        <ion-label>
          <b>R$ 10.000,00</b>
          </ion-label>
      </div>

    </div>

  </div>

  <div class="header">
    <ion-text>Despesas Fixas</ion-text>
    <ion-label>Ver Mais</ion-label>
  </div>

  <div id="sectionE">

    <swiper-container 
      slides-per-view="2.1" 
      speed="100" 
      loop="false"
      css-mode="false" 
      navigation="false" 
      pagination="false"
      scrollbar="false">
      <swiper-slide *ngFor="let item of [1,2,3]" lazy="false">

        <div class="card">
          
          <div class="icone">
            <ion-icon name="logo-apple"></ion-icon>
          </div>

          <div class="descricao">
            <ion-label>
              R$ 1.000,00
              <p>Prime Monthly Subscriptions</p>
            </ion-label>
          </div>

          <div class="acao">
            <ion-button expand="block" color="secondary" shape="round">
              Pagar Agora
            </ion-button>
          </div>

        </div>

      </swiper-slide>
    </swiper-container>

  </div> -->

  <div class="header">
    <ion-text>Negociações</ion-text>
    <ion-label>Ver Mais</ion-label>
  </div>

  <div id="sectionF">

    <div *ngFor="let item of [1,2,3]" class="card">

      <div class="titulo">
        <ion-label><b>Banco Inter</b> 
          <p>Negociação de Cartão de Crédito</p>
        </ion-label>
        <ion-text><b>R$ 5.000,00</b></ion-text>
      </div>

      <div class="skills">
        <div class="skill">
          <div class="skill-bar">
            <div class="skill-per" per="45%" style="max-width: 45%;"></div>
          </div>
        </div>
      </div>

    </div>

  </div>

</ion-content>