<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="background">
    <ion-title>Nova Conta Bancária</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="saldo">
    <ion-label class="ion-text-center">
      Saldo Atual da Conta
      <p>R$ 20.000,00</p>
    </ion-label>
  </div>

  <div class="formulario">

    <div class="row">

      <div class="icone">
        <ion-icon name="business-outline"></ion-icon>
      </div>

      <div class="campo">
        <b>Pessoa Contratada</b>
      </div>

      <div class="acao">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>

    </div>

    <div class="divisor"></div>

    <div class="row">

      <div class="icone">
        <ion-icon name="person-outline"></ion-icon>
      </div>

      <div class="campo">
        <b>Pessoa Contratante</b>
      </div>

      <div class="acao">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>

    </div>

    <div class="divisor"></div>

    <div class="row">

      <div class="icone">
        <ion-icon name="copy-outline"></ion-icon>
      </div>

      <div class="campo">
        <b>Categoria da Conta Bancária</b>
      </div>

      <div class="acao">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>

    </div>

    <div class="divisor"></div>

    <div class="row">

      <div class="icone">
        <ion-icon name="pricetags-outline"></ion-icon>
      </div>

      <div class="campo">
        <ion-input type="number" placeholder="Número da Conta Bancária"></ion-input>
      </div>

      <div class="acao"></div>

    </div>

    <div class="divisor"></div>

    <div class="row">

      <div class="icone">
        <ion-icon name="pricetag-outline"></ion-icon>
      </div>

      <div class="campo">
        <ion-input type="number" placeholder="Número da Agência"></ion-input>
      </div>

      <div class="acao"></div>

    </div>

    <div class="divisor"></div>

    <div class="row">

      <div class="icone">
        <ion-icon name="wallet-outline"></ion-icon>
      </div>

      <div class="campo">
        <ion-input type="number" placeholder="Saldo Inicial"></ion-input>
      </div>

      <div class="acao"></div>

    </div>

    <div class="divisor"></div>

    <div class="row">

      <div class="icone">
        <ion-icon name="wallet-outline"></ion-icon>
      </div>

      <div class="campo">
        <ion-input type="number" placeholder="Saldo Inicial"></ion-input>
      </div>

      <div class="acao"></div>

    </div>

    <div class="divisor"></div>

    <div class="row">

      <div class="icone">
        <ion-icon name="wallet-outline"></ion-icon>
      </div>

      <div class="campo">
        <ion-input type="number" placeholder="Saldo Inicial"></ion-input>
      </div>

      <div class="acao"></div>

    </div>

    <div class="divisor"></div>

    <div class="row">

      <div class="icone">
        <ion-icon name="wallet-outline"></ion-icon>
      </div>

      <div class="campo">
        <ion-input type="number" placeholder="Saldo Inicial"></ion-input>
      </div>

      <div class="acao"></div>

    </div>

    <div class="divisor"></div>

    <div class="row">

      <div class="icone">
        <ion-icon name="wallet-outline"></ion-icon>
      </div>

      <div class="campo">
        <ion-input type="number" placeholder="Saldo Inicial"></ion-input>
      </div>

      <div class="acao"></div>

    </div>

    <div class="divisor"></div>

    <div class="row">

      <div class="icone">
        <ion-icon name="wallet-outline"></ion-icon>
      </div>

      <div class="campo">
        <ion-input type="number" placeholder="Saldo Inicial"></ion-input>
      </div>

      <div class="acao"></div>

    </div>

    <div class="divisor"></div>

    <div class="row">

      <div class="icone">
        <ion-icon name="wallet-outline"></ion-icon>
      </div>

      <div class="campo">
        <ion-input type="number" placeholder="Saldo Inicial"></ion-input>
      </div>

      <div class="acao"></div>

    </div>

    <div class="divisor"></div>

    <div class="row">

      <div class="icone">
        <ion-icon name="wallet-outline"></ion-icon>
      </div>

      <div class="campo">
        <ion-input type="number" placeholder="Saldo Inicial"></ion-input>
      </div>

      <div class="acao"></div>

    </div>

    <div class="divisor"></div>

  </div>

  <ion-fab vertical="botton" horizontal="center">
    <ion-fab-button>
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
