.background {
    --background: blue;
    color: white;
}

.saldo {
    padding: 10px;
    background: blue;
    color: white;
    // border: red 2px dashed;
    display: flex;
    justify-content: center;
    ion-label {
        p {
            font-size: 36px;
            margin-top: 28px;
            margin-bottom: 50px;
            color: white;
            font-weight: bold;
        }
    }
}

.formulario {
    margin-top: -26px;
    background: white;
    border-radius: 20px 20px 0px 0px;
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        // border: blueviolet 2px dashed;
        height: 70px;
        padding: 14px;
        .icone {
            // border: red 2px dashed;
            width: 10%;
            text-align: left;
            ion-icon {
                font-size: 22px;
                color: #5c5b5b;
            }
        }
        .campo {
            width: 70%;
            text-align: left;
            color: #a8a5ae;
            ion-input {
                font-size: 16px;
                font-weight: bold;
            }
        }
        .acao {
            width: 10%;
            text-align: right;
            ion-icon {
                font-size: 16px;
                color: #5c5b5b;
            }
        }
    }
    .row:hover {
        background: rgba(244, 244, 244, 0.252);
        cursor: pointer;
    }
}

.divisor {
    border: solid 0.4px rgb(229, 229, 229);
    border-radius: 10px;
    width: 94%;
    margin: 0 auto;
}

ion-fab {
    ion-fab-button {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

ion-input {
    --placeholder-color: #666666;
}

ion-button {
    display: flex;
    justify-content: center;
    height: 40px;
}

.centralizador {
    ion-badge {
        padding: 10px;
        margin: 2px;
    }
}