ion-header {
    ion-toolbar {
        --background: #248479;
        --color: #fefffe;
        ion-title {
            font-size: 14px;
        }
    }
}

ion-content { }

#sectionA {
    // border: red dashed 2px;
    background: #248479;
    color: #fefffe;
    height: 20vh;
    // border-radius: 0px 0px 20px 20px;
    ion-label {
        font-size: 12px;
        p {
            font-size: 32px;
            font-weight: bold;
            color: #fefffe;
            margin-top: 2vh;
        }
    }
}

#sectionB {
    background: #fefffe;
    ion-grid {
        ion-row {
            ion-col {
                ion-item {
                    --background: #fefffe;
                    ion-label, ion-input {
                        font-size: 13px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    ion-fab {
        margin-top: 1vh;
    }
}

.borda {
    height: 3vh;
    background: #fefffe;
    border-radius: 20px 20px 0px 0px;
    margin-top: -50px;
    position: fixed;
}

.divisor {
    border: #e7e7e7 0.6px solid;
    border-radius: 10px;
    width: 88%;
    margin: 0 auto;
}

.alinhamento-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    ion-badge {
        margin: 2px;
    }
}