<ion-header class="ion-no-border">
  <ion-toolbar>
    <div slot="start" class="icone-pesquisa">
      <ion-icon name="search-outline"></ion-icon>
    </div>
    <div class="campo-pesquisa">
      <ion-input type="text" (ionInput)="recuperarPessoa($event)" placeholder="Pesquisar Instituições Bancárias"></ion-input>
    </div>
    <div class="divisor"></div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngFor="let pessoa of pessoaList" class="bloco1">
    <ion-label (click)="selecionarPessoa(pessoa)">
      <b>{{ pessoa.nome }}</b>
    </ion-label>
  </div>

</ion-content>
