ion-header {
    ion-toolbar {
        padding: 16px;
        .icone-pesquisa {
            background: silver;
            color: white;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            ion-icon {
                font-size: 26px;
            }
        }
        .campo-pesquisa {
            margin-left: 4vw;
            ion-input {
                --highlight-color-focused: none;
            }
        }
        .divisor {
            border: solid 0.4px rgb(229, 229, 229);
            border-radius: 10px;
            margin-left: -10%;
            // width: 100%;
            // margin: 0 auto;
        }
    }
    
}

ion-content {
    .bloco1 {
        height: 60px;
        display: flex;
        align-items: center;
        border-bottom: rgb(229, 229, 229) solid 1px;
        ion-label {
            margin-left: 8px;
            b {
                text-transform: uppercase;
            }
        }
    }
    .bloco1:hover {
        background: rgb(240, 240, 240);
        border-radius: 20px;
    }
    .resultado-nao-encontrado {
        ion-text {
            display: flex;
            justify-content: center;
            font-weight: bold;
        }
    }
}