<ion-header class="ion-no-border">
  <ion-toolbar>
    <div slot="start" class="icone-pesquisa">
      <ion-icon name="search-outline"></ion-icon>
    </div>
    <div class="campo-pesquisa">
      <ion-input type="text" (ionInput)="recuperarPessoa($event)" placeholder="Pesquisar Instituições Bancárias"></ion-input>
    </div>
    <div class="divisor"></div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngFor="let pessoa of pessoaList" class="bloco1">
    <ion-label (click)="selecionarPessoa(pessoa)">
      <b>{{ pessoa.nome }}</b>
    </ion-label>
  </div>

  <div class="ion-text-center">
    <ion-spinner name="circles" *ngIf="isLoading"></ion-spinner>
  </div>

  <div *ngIf="pessoaList.length == 0 && !isLoading" class="resultado-nao-encontrado">
    <ion-text>Nenhum Resultado Encontrado</ion-text>
  </div>

  <!-- <ion-item-group *ngFor="let item of pessoaOrdenadaList">

    <ion-item-divider>
      <ion-label> {{ item.key }} </ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let item of item.pessoaGrupoList">
      <ion-label>
        {{ item.nome }}
      </ion-label>
    </ion-item>

    <div *ngIf="pessoaOrdenadaList.length == 0" class="resultado-nao-encontrado">
      <ion-text>Nenhum Resultado Encontrado</ion-text>
    </div>

  </ion-item-group> -->

</ion-content>
