<ion-header class="ion-no-border">
  <ion-toolbar>
    <div slot="start" class="icone-pesquisa">
      <ion-icon name="search-outline"></ion-icon>
    </div>
    <div class="campo-pesquisa">
      <ion-input type="text" placeholder="Pesquisar Instituições Bancárias"></ion-input>
    </div>
    <div class="divisor"></div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bloco1">
    <div class="icone">
      <img src="../../../../assets/image/banco-do-brasil-logo.svg" />
    </div>
    <div class="nome-instituicao">
      <ion-label>
        <b>Banco do Brasil</b>
      </ion-label>
    </div>
  </div>

  <div class="bloco1">
    <div class="icone">
      <img src="../../../../assets/image/banco-bmg-logo.svg" />
    </div>
    <div class="nome-instituicao">
      <ion-label>
        <b>Banco de Minas Gerais</b>
      </ion-label>
    </div>
  </div>

</ion-content>
