<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Categoria da Conta Bancária</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="isLoading" class="ion-text-center spinner">
    <ion-spinner name="circles" *ngIf="isLoading"></ion-spinner>
  </div>

  <ion-item *ngFor="let item of tipoContaBancariaList">
    <ion-label *ngIf="!isLoading" (click)="selecionarTipoContaBancaria(item)">{{ item.descricao }}</ion-label>
  </ion-item>

</ion-content>
