<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="background">

    <ion-buttons slot="start">
      <ion-button (click)="configuracaoUtilityService.redirecionarTelaCadastroLancamentoFinanceiro()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <b>Minhas Contas Bancárias</b>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="barra"></div>

  <div class="containerA">

    <section id="conta-bancaria" *ngFor="let item of contaBancariaList">
      <div class="informacao">
        <ion-label>
          <strong>{{ item.pessoaContaBancaria.nome }}</strong>
          <p>{{ item.numeroAgenciaContaBancaria }} / {{ item.numeroContaBancaria }}</p>
        </ion-label>
        <ion-text>R$ {{ item.saldoInicial }}</ion-text>
      </div>
    </section>

  </div>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="configuracaoUtilityService.redirecionarTelaContaBancariaCadastrar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
