<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="background">

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <b>Minhas Contas Bancárias</b>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="barra"></div>

  <div class="containerA">

    <section id="conta-bancaria">
      <div class="informacao">
        <ion-label>
          <strong>Banco do Brasil S.A.</strong>
          <p>0854-5 / 71.012.00-1</p>
        </ion-label>
        <ion-text>R$ 20.000,00</ion-text>
      </div>
    </section>

    <section id="conta-bancaria">
      <div class="informacao">
        <ion-label>
          <strong>Banco do Brasil S.A.</strong>
          <p>0854-5 / 71.012.00-1</p>
        </ion-label>
        <ion-text>R$ 20.000,00</ion-text>
      </div>
    </section>

  </div>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="configuracaoUtilityService.redirecionarTelaContaBancariaCadastrar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
