<ion-header [translucent]="true" class="ion-no-border">
  
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="configuracaoUtilityService.redirecionarTelaMonitoramentoFinanceiro()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-title>&nbsp;</ion-title>

    <ion-buttons slot="end">
      <ion-button id="notification">
        <ion-icon slot="start" name="notifications-outline"></ion-icon>
        <span>9</span>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  
</ion-header>

<ion-content>

  <div class="imagem-usuario">
    <img src="../../../assets/image/avatar1.jpg"/>
    <ion-icon name="camera-outline"></ion-icon>
  </div>

</ion-content>
