<ion-header [translucent]="true" class="ion-no-border">
  
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="configuracaoUtilityService.redirecionarTelaMonitoramentoFinanceiro()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-title>&nbsp;</ion-title>

    <ion-buttons slot="end">
      <ion-button id="notification">
        <ion-icon slot="start" name="notifications-outline"></ion-icon>
        <span>9</span>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  
</ion-header>

<ion-content>

  <div class="imagem-usuario">
    <img src="../../../assets/image/avatar1.jpg"/>
    <ion-icon name="camera-outline"></ion-icon>
  </div>

  <div id="sectionA">

    <div class="header">
      <ion-label>Tema</ion-label>
    </div>

    <div class="card">
      <ion-label><b>Tema Escuro</b></ion-label>
      <ion-toggle [checked]="false" mode="ios"></ion-toggle>
    </div>

  </div>

</ion-content>
